[submodule "TesseractEngine"]
	path = TesseractEngine
	url = https://github.com/Zekrom64/TesseractEngine
[submodule "box2d-netstandard"]
	path = box2d-netstandard
	url = https://github.com/Zekrom64/box2d-netstandard
